HOST=0.0.0.0
PORT=8000
DAILYROUTE_DB_PATH=data/dailyroute_guard.db
ENABLE_REAL_KAKAO_APIS=false
KAKAO_REST_API_KEY=
KAKAO_MOBILITY_API_KEY=
KAKAO_ACCESS_TOKEN=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=http://127.0.0.1:8000/oauth/kakao/callback
KAKAO_OAUTH_SCOPES=talk_message
KAKAO_CALENDAR_ID=primary
PUBLIC_BASE_URL=http://127.0.0.1:8000
ENABLE_ROUTE_WATCH_SCHEDULER=true
